<app-menu></app-menu>
<marquee>
  <h1 style="color: rgb(250, 4, 127);background-color: transparent; ">SkyCliff IT</h1>
  </marquee>


<!-- home page start -->


<div>
  <img src="assets/32.jpg">
  </div>

  <div class="container">
    <br/>
  <div >
    <!-- class="row justify-content-center"                 -->
                            <form class="card card-sm">
                                <div class="card-body row no-gutters align-items-center">
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>


<!-- Page Content -->

<div class="jumbotron text-center" style="background-color: transparent;">
  <h2>SKYCLIFF IT DHARWAD</h2>
  <p>Delivering Innovation Across Industries</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>HEALTHCARE</h3>
      <p>YourDrs combines modern technology with 30 years of medical and surgical practice management experience to create a unique platform which brings patients, providersproviders, case managers, attorneys, insurance carriers...</p>
    </div>
    <div class="col-sm-4">
      <h3>TRAVEL & HOSPITALITY</h3>
      <p>Hospitality companies are constantly re-assessing their business strategies to enable positive customer experiences. Skycliff IT's innovative solutions will improve customer retention rates and drive business revenues</p>
    </div>
    <div class="col-sm-4">
      <h3>RETAIL & E-COMMERCE</h3>
      <p>Today's retail environment offers ever-expanding opportunity while also posing unprecedented challenges. Our solutions helps businesses in handling complexity in retail from POS--Back office--Warehouse and Corporate office</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3>INSURANCE</h3>
      <p>With our extensive experience in Insurance segment, we get our hands dirty with the blend of technology & well defined processes, so you can focus on your business’s frontline issues</p>
    </div>
    <div class="col-sm-4">
      <h3>BUSINESS PROCESS MANAGEMENT</h3>
      <p>As a management discipline, BPM, helps companies optimize operational processes. We identify critical Key Performance Indicators (KPIs) in the end to end process...</p>
    </div>
    <div class="col-sm-4">
      <h3>PLATFORMS & SOFTWARE PRODUCTS</h3>
      <p>consistent on-time delivery and proven results built on over a decade of domain knowledge and diverse technology expertise in the IT outsourcing industry.</p>
    </div>
  </div>
</div>


<section class="main">
<div class="container mt-4">
    <h1 class="text-center mb-4 p-4 text-secondary">From The Blog</h1>
      <div class="row">

   <div class="card-columns">
  <div class="card shadow border-0">
    <img class="card-img-top" src="https://4.bp.blogspot.com/-InDD3Hm_bhU/XB4_TK3TT7I/AAAAAAAAAJ4/r5tUeCOqq1MTchFh7D7pWdf582A4qYIIwCEwYBhgL/s1600/Businesswoman-working-at-a-computer-1280x720.jpg" style="height: 200px; width: 400px;" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>

  <div class="card shadow border-0">
    <img class="card-img-top" src="https://4.bp.blogspot.com/-InDD3Hm_bhU/XB4_TK3TT7I/AAAAAAAAAJ4/r5tUeCOqq1MTchFh7D7pWdf582A4qYIIwCEwYBhgL/s1600/Businesswoman-working-at-a-computer-1280x720.jpg" style="height: 200px; width: 400px;" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>

  <div class="card shadow border-0">
    <img class="card-img-top" src="https://4.bp.blogspot.com/-InDD3Hm_bhU/XB4_TK3TT7I/AAAAAAAAAJ4/r5tUeCOqq1MTchFh7D7pWdf582A4qYIIwCEwYBhgL/s1600/Businesswoman-working-at-a-computer-1280x720.jpg" style="height: 200px; width: 400px;" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
</div>

<div class="card-columns" >
  <div class="card shadow border-0">
    <img class="card-img-top" src="https://4.bp.blogspot.com/-InDD3Hm_bhU/XB4_TK3TT7I/AAAAAAAAAJ4/r5tUeCOqq1MTchFh7D7pWdf582A4qYIIwCEwYBhgL/s1600/Businesswoman-working-at-a-computer-1280x720.jpg" style="height: 200px; width: 400px;" alt="Card image cap">
    <div class="card-body" >
      <h5 class="card-title" >Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>

  <div class="card shadow border-0">
    <img class="card-img-top" src="https://4.bp.blogspot.com/-InDD3Hm_bhU/XB4_TK3TT7I/AAAAAAAAAJ4/r5tUeCOqq1MTchFh7D7pWdf582A4qYIIwCEwYBhgL/s1600/Businesswoman-working-at-a-computer-1280x720.jpg" style="height: 200px; width: 400px;" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>

  <div class="card shadow border-0">
    <img class="card-img-top" src="https://4.bp.blogspot.com/-InDD3Hm_bhU/XB4_TK3TT7I/AAAAAAAAAJ4/r5tUeCOqq1MTchFh7D7pWdf582A4qYIIwCEwYBhgL/s1600/Businesswoman-working-at-a-computer-1280x720.jpg" style="height: 200px; width: 400px;" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
</div>


</div>
   </div>
   </section>

   <!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">Meet the Team</h1>
  </div>
</header>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="assets/37.jpg" class="card-img-top" alt="..." style="height: 350px; width:250px;">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Kiran M</h5>
          <div class="card-text text-black-50">Web Developer</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="assets/36.jpg" class="card-img-top" alt="..." style="height: 350px; width:250px;">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Abhishek M</h5>
          <div class="card-text text-black-50">Web Developer</div>
        </div>
      </div>
    </div>
     <!-- Team Member 3 -->
     <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="assets/34.jpg" class="card-img-top" alt="..." style="height: 350px; width:250px;">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Shivakumar Meti</h5>
          <div class="card-text text-black-50">Web Developer</div>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="assets/35.jpg" class="card-img-top" alt="..." style="height: 350px; width:250px;">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Vianay K</h5>
          <div class="card-text text-black-50">Web Developer</div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->

</div>




<!-- home page end -->

<!-- Footer -->

<footer class="page-footer font-small blue pt-4">
  <div class="">
      <div class="container">
          <div class="row">
              <div class="col-md-3 footer-center text-left"> <img width="20px" src="assets/logo.png" alt=""> </div>
              <div class="col-md-6 footer-left text-left text-center">
                  © 2018 All Rights Reserved for Skycliff IT PVT. LTD
              </div>
              <i class="fa fa-facebook text-xs circle"></i>
          </div>
      </div>
  </div>
</footer>

<!-- Footer -->
